h2 {color: red;}
p {color: orange; font-weight: 900;}
.text {font-size: medium; font-family: Agency FB}
h1 {color: cyan; font-size:60px}
#e4 {font-style: italic; font-family: 'Arial'}
.text {font-size: xx-large; color: #6a9b9b; font-family: Bahnschrift SemiBold;}